{% extends 'base.html' %}

{% block con %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container mt-5 mb-5" style="font-size: 20px; font-weight: bold; width: 80%;">
            <h1><b>투표 생성</b></h1>
            
            <div class="mb-3 mt-5">
                <label class="form-label">SUBJECT</label>
                <input type="text" class="form-control" name="sub" >
            </div>
            <div class="mb-3">
                <label class="form-label">MAKER</label>
                <input type="text" class="form-control" value="{{ user }}" disabled>
            </div>
            <div class="mb-3">
                <label class="form-label">CONTENT</label>
                <textarea class="form-control" style="height: 100px;" name="con"></textarea>
            </div>

            <div>
                <button type="button" onclick="makebogi()" class="btn btn-primary">보기생성</button>
            </div>


            <div class="row" id="here">

            </div>


            <div class="text-end mt-3">
                <button class="btn btn-dark">CREATE</button>
            </div>
            <div class="text-end mt-3">
                <button type="button" class="btn btn-dark">BACK</button>
            </div>

        </div>
    </form>



    <script>
        function makebogi(){
            d = document.getElementById("here");
            n = document.createElement("div");
            n.setAttribute('class', 'col-lg-4 mt-5');
            n.innerHTML = '<input type="text" name="boname" class="form-control" placeholder="보기명 입력">\
                    <input type="file" name="bopic" class="form-control mb-3 mt-3">\
                    <textarea class="form-control" name="bocom" placeholder="보기 설명"></textarea>';
            d.appendChild(n);
        }
    </script>




{% endblock %}