{% extends 'base.html' %}


{% block con %}

    <div class="container mt-5 mb-5"><h1><b>BOOK MARK</b></h1>
    <div class="text-end">
        <a href="{% url 'book:create' %}"><button class="btn btn-outline-dark">북마크생성</button></a><hr>
    </div>
        <div class="row">
            {% for i in bset %}
                <div class="col-sm-3 mt-8 mb-3 text-center">
                    <div class="card">
                        <div class="card-body" {% if i.impo %} style="color: blueviolet; background-color: antiquewhite;"{%endif%}>
                            <h3 class="card-title">{{ i.site_name }}</h3>
                            <p class="card-text">{{ i.comment }}</p>
                            <a href="{{ i.site_url }}" class="btn btn-primary">이동</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}